
{% include ('base.html.twig') %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% block body %}

        {#<body class="tg-home tg-login">#}
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="tg-wrapper" class="tg-wrapper tg-haslayout">
            {{ render(controller('AppBundle:Default:header')) }}

            <!--************************************
                Main Start
        *************************************-->
            <main id="tg-main" class="tg-main tg-haslayout">
                <div class="container">
                    <script>
                        var vtype;
                        var cutcopyid;
                    </script>
                    <div id="cutt_copy" style="display: none;z-index: 9999;background-color: rgba(255,255,255,0.91);position: fixed;width: 80%;top: 0;right: 0;height: 650px">
                        <div style="padding: 10px">
                            <div class="pull-right">
                                <a href="javascript:void(0)" onclick="$('#cutt_copy').fadeOut()"><span class="fa fa-close"></span></a>
                            </div>
                            <div>
                                <div class="col-xs-12">
                                    <style>
                                        .mybadge:hover{
                                            background-color: #0b3e6f !important;
                                            transition: 1s !important;
                                        }
                                    </style>
                                    <div class="col-md-12">
                                        <h3 id="cut_copy_head">Cut your appointment</h3>
                                    </div>
                                    <div class="col-md-offset-4 col-md-4">
                                        <label for="">Select Location</label>
                                        <select onchange="getseance(this.value)" class="form-control">
                                            <option value="0">- Select Location -</option>
                                            {% for item in location %}
                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <script>
                                        function getseance(id){
                                            $.ajax({
                                                url: '{{ path('calendries_appoitment_seancebylocation') }}?id='+id,
                                                type: 'POST',
                                                success: function(result){
                                                    $('#cut_copy_data').html(result);
                                                }
                                            });
                                        }

                                    </script>
                                    <div id="cut_copy_data" style="max-height: 500px;overflow: auto" class="col-md-offset-1 col-md-10">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="tg-content" class="tg-content tg-dashboard">
                            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 pull-left">
                                <div class="tg-widgetdashboard">
                                    <div class="tg-widgetprofile">
                                        <figure class="tg-directpostimg">
                                            {% if vich_uploader_asset(doctor, 'imageFile') %}
                                                <a href="#">
                                                    <img src="{{ vich_uploader_asset(doctor, 'imageFile') }}" alt="{{ doctor.image }}" />
                                                </a>
                                            {% else %}
                                                <a href="#">
                                                    <img src="{{ asset('assets/images/thumbnails/img-20.jpg') }}" alt="image description">
                                                </a>
                                            {% endif %}
                                            {% if app.user.verifier == 1 %}
                                                <figcaption>
                                                    <a class="tg-usericon tg-iconvarified" href="#">
                                                        <em class="tg-usericonholder">
                                                            <i class="fa fa-shield"></i>
                                                            <span>{{ 'verified'|trans }}</span>
                                                        </em>
                                                    </a>
                                                </figcaption>
                                            {% endif %}
                                        </figure>

                                        <div class="tg-directposthead">
                                            <h3><a href="#">Dr. {{ doctor.firstName }} {{ doctor.lastName }}</a></h3>
                                            <div class="tg-subjects"></div>
                                            <ul class="tg-metadata">
                                                <li><span class="tg-stars"><span></span></span></li>
                                                <li><a href="#"><i class="fa fa-thumbs-o-up"></i> 99% (1009 votes)</a></li>
                                            </ul>
                                        </div>
                                        <a class="tg-btn tg-btn-lg" href="{{ path('user_profil', {'id': app.user.id }) }}">{{ 'Profile'|trans }}</a> </div>
                                    {% include('profilDoctorNav.html.twig') %}
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12 pull-right">
                                <h2>Appointments</h2>

                                <div class="col-xs-2">
                                        <a href="javascript:void(0)" onclick="prevdate()" class="tg-btn tg-btn-md" style="" >
                                            <span class="fa fa-angle-double-left"></span> Prev
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <input id="ddate" type="date" onchange="getdisplaybydate(this.value)" value="{{ "now"|date("Y-m-d") }}" class="form-control">
                                    </div>
                                    <div class="col-xs-2">
                                        <a href="javascript:void(0)" onclick="nextdate()" class="tg-btn tg-btn-md" style="" >
                                            Next <span class="fa fa-angle-double-right"></span>
                                        </a>
                                    </div>
                                <div class="col-xs-2">
                                        <a href="javascript:void(0)" onclick="printDiv()" class="tg-btn tg-btn-md" style="" >
                                            Print <span class="fa fa-print"></span>
                                        </a>
                                    </div>
                                <script>
                                    function printDiv()
                                    {
                                        var divToPrint=document.getElementById('divtoprint');
                                        console.log(divToPrint.innerHTML);
                                        var newWin=window.open('','Print-Window');
                                        newWin.document.open();
                                        newWin.document.write("<html><head></head>");
                                        newWin.document.write("<body onload='window.print()'>"+divToPrint.innerHTML);
                                        newWin.document.write("");
                                        newWin.document.close();

                                    }
                                    function nextdate(){
                                        var d = new Date($('#ddate').val());
                                        d.setDate(d.getDate() + 1);
                                        var curr_date = d.getDate();
                                        var curr_month = d.getMonth() + 1; //Months are zero based
                                        if (curr_month < 10){
                                            curr_month = "0"+curr_month;
                                        }if (curr_date < 10){
                                            curr_date = "0"+curr_date;
                                        }
                                        var curr_year = d.getFullYear();
                                        var date = curr_year + "-" + curr_month + "-" + curr_date;
                                        $('#ddate').val(date);
                                        getdisplaybydate(date);

                                    }
                                    function prevdate(){
                                        var d = new Date($('#ddate').val());
                                        d.setDate(d.getDate() - 1);
                                        var curr_date = d.getDate();
                                        var curr_month = d.getMonth() + 1; //Months are zero based
                                        if (curr_month < 10){
                                            curr_month = "0"+curr_month;
                                        }
                                        if (curr_date < 10){
                                            curr_date = "0"+curr_date;
                                        }
                                        var curr_year = d.getFullYear();
                                        var date = curr_year + "-" + curr_month + "-" + curr_date;
                                        $('#ddate').val(date);
                                        getdisplaybydate(date);

                                    }

                                    function getdisplaybydate(date){
                                        $('#bydate').hide();
                                        $('#loaddate').fadeIn();
                                        $.ajax({
                                            url: '{{ path('appointments_displaybydate') }}?date='+date,
                                            type: 'get',
                                            success: function(result){
                                                $('#bydate').html(result);
                                                $('#bydate').fadeIn();
                                                $('#loaddate').hide();
                                            }
                                        })
                                    }
                                    function reminder(app){
                                        $.ajax({
                                            url: '{{ path('appointments_appointment_reminder') }}?app='+app,
                                            type: 'get',
                                            success: function(result){
                                                if (result == 'true'){
                                                    alert('Reminder Sent !');
                                                }
                                            }
                                        })
                                    }
                                </script>
                                <div  class="col-md-12" style="margin-top: 20px">
                                    <div id="bydate">
                                        {% if appointment|length != 0 %}
                                            <div id="divtoprint">
                                                <style>
                                                    @media print {
                                                        .nodisplay{
                                                            display: none;
                                                        }
                                                    }
                                                </style>
                                                <h4>List Of Appointments</h4>
                                                <table>
                                                    {% for item in appointment %}
                                                        {% if "now"|date("Y-m-d") < item.seance.calendrie.date|date('Y-m-d')  %}
                                                            <tr ondblclick="$('#appmodal').modal('show');getappointment({{ item.id }})">
                                                                <td style="width: 15%;vertical-align: middle;text-align: right;padding-right: 10px">
                                                                    <label style="font-size: 20px;">{{ item.seance.calendrie.date|date('d M') }}</label><label style="font-size: 20px;">{{ item.seance.calendrie.date|date('Y') }}</label> </td>
                                                                <td style="padding: 10px;width: 85%;text-align: left;border-left: 10px solid #83c1f4;background-color: #c1e9fe;">
                                                                    <label style="font-size: 18px"><b>{{ item.seance.heurDebut|date('H:i') }} - {{ item.seance.heurFin|date('H:i') }}, {{ item.seance.calendrie.location.name }}</b>
                                                                        <span class="pull-right nodisplay">
                                                                <span id="etat{{ item.id }}">
                                                                    {% if item.etat == 'confirme' %}
                                                                        <a href="javascript:void(0)"  class="badge" style="background: green">{{ item.etat }}</a>
                                                                        {% elseif item.etat == 'non confirmer' %}
                                                                        <a href="javascript:void(0)" class="badge" style="background: orangered">{{ item.etat }}</a>
                                                                        {% else %}
                                                                        <a href="javascript:void(0)" class="badge" style="background: yellowgreen">{{ item.etat }}</a>
                                                                    {% endif %}

                                                                </span>
                                                                <a href="javascript:void(0)" onclick="$('#remindermodal').modal('show');$('#reminderapp').val('{{ item.id }}')" class="badge" style="background: black">Send Reminder</a>

                                                                <a href="javascript:void(0)" onclick="showmodelcutcopy('cut',{{ item.id }})" class="badge"><span class="fa fa-cut"></span></a>
                                                                <a href="javascript:void(0)" class="badge" onclick="showmodelcutcopy('copy',{{ item.id }})"><span  class="fa fa-copy"></span></a>
                                                            </span>

                                                                    </label> <br class="hidden-xs hidden-sm hidden-md hidden-lg">
                                                                    <label>{{ item.seance.calendrie.location.adresse }}</label><br class="hidden-xs hidden-sm hidden-md hidden-lg">
                                                                    <label>Patient: {{ render(controller('AppointmentsBundle:Appointments:getpatientbyUser', {'id': item.patient.idtable})) }}, Reason: {{ item.reason.reason }}
                                                                    </label>
                                                                    <div>

                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        {% else %}
                                                            <tr  ondblclick="$('#appmodal').modal('show');getappointment({{ item.id }})">
                                                                <td style="width: 15%;vertical-align: middle;text-align: right;padding-right: 10px">
                                                                    <label style="font-size: 20px;">{{ item.seance.calendrie.date|date('d M') }}</label><label style="font-size: 20px;">{{ item.seance.calendrie.date|date('Y') }}</label> </td>
                                                                <td style="padding: 10px;width: 85%;text-align: left;border-left: 10px solid #83c1f4;">
                                                                    <label style="font-size: 18px"><b>{{ item.seance.heurDebut|date('H:i') }} - {{ item.seance.heurFin|date('H:i') }}, {{ item.seance.calendrie.location.name }}</b>
                                                                        <span class="pull-right nodisplay">
                                                                <span id="etat{{ item.id }}">
                                                                    {% if item.etat == 'confirme' %}
                                                                        <a href="javascript:void(0)" onclick="updatestatus({{ item.id }})" class="badge" style="background: green">{{ item.etat }}</a>
                                                                        {% elseif item.etat == 'non confirmer' %}
                                                                        <a href="javascript:void(0)" onclick="updatestatus({{ item.id }})" class="badge" style="background: orangered">{{ item.etat }}</a>
                                                                        {% else %}
                                                                        <a href="javascript:void(0)" class="badge" style="background: yellowgreen">{{ item.etat }}</a>
                                                                    {% endif %}

                                                                </span>
                                                                <a href="javascript:void(0)" class="badge" onclick="showmodelcutcopy('copy',{{ item.id }})"><span  class="fa fa-copy"></span></a>
                                                            </span>
                                                                    </label><br class="hidden-xs hidden-sm hidden-md hidden-lg">
                                                                    <label>{{ item.seance.calendrie.location.adresse }}</label><br class="hidden-xs hidden-sm hidden-md hidden-lg">
                                                                    <label>Patient: {{ render(controller('AppointmentsBundle:Appointments:getpatientbyUser', {'id': item.patient.idtable})) }}, Reason: {{ item.reason.reason }}
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                        {% endif %}

                                                    {% endfor %}

                                                </table>
                                            </div>

                                            <script>




                                                function performaction(newid){
                                                    if(confirm("Really want to "+vtype+" this appontment to new place ?")){
                                                        window.location = "{{ path('calendries_appoitment_cutcopy') }}?type="+vtype+"&app="+cutcopyid+"&sea="+newid;
                                                    }
                                                }
                                                function showmodelcutcopy(type,id){
                                                    vtype = type;
                                                    cutcopyid = id;
                                                    if(type == "cut"){
                                                        $('#cut_copy_head').html('Cut your appointment');
                                                    }else{
                                                        $('#cut_copy_head').html('Copy your appointment');

                                                    }
                                                    $('#cutt_copy').fadeIn();

                                                }
                                                function updatestatus(id){
                                                    $.ajax({
                                                        url: '{{ path('calendries_appoitment_update') }}?id='+id,
                                                        type: 'POST',
                                                        success: function(result){
                                                            if(result === 'confirme'){
                                                                $('#etat'+id).html('<a  href="javascript:void(0)" onclick="updatestatus('+id+')" class="badge" style="background: green">'+result+'</a>')
                                                            }else{
                                                                $('#etat'+id).html('<a  href="javascript:void(0)" onclick="updatestatus('+id+')" class="badge" style="background: orangered">'+result+'</a>')
                                                            }
                                                        }
                                                    })
                                                }
                                            </script>
                                        {% else %}
                                            <p class="text-center">You have no Appointments till now.</p>
                                        {% endif %}
                                    </div>
                                    <div id="loaddate" style="display: none;">
                                        <p class="text-center"><label for="">Loading...</label></p>
                                    </div>

                                </div>







                            </div>
                        </div>
                    </div>
                </div>

        </div>
        </main>

        <!-- Trigger the modal with a button -->

        <!-- Modal -->
        <div id="appmodal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Appointment Information</h4>
                    </div>
                    <div class="modal-body">
                        <div id="appload" style="display: none">
                            <p class="text-center">Loading...</p>
                        </div>
                        <div id="appbody">

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="remindermodal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Reminder Attachment</h4>
                    </div>
                    <div class="modal-body">
                        <form enctype="multipart/form-data" action="{{ path('appointments_appointment_reminder') }}" method="POST">
                            <label for="">Select Attachment for Email, Leave blank if it there is no</label>
                            <input type="file" name="attach" class="form-control">
                            <input type="hidden" id="reminderapp" name="app" class="form-control">
                            <input type="submit" value="Send Reminder" class="btn btn-primary pull-right" style="margin-top: 10px">
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <script>
            function getappointment(app){
                $('#appload').show();
                $('#appbody').hide();
                $.ajax({
                    url: '{{ path('appointments_appointment_getappointment') }}?app='+app,
                    type: 'POST',
                    success: function (result) {
                        $('#appload').hide();
                        $('#appbody').show();
                        $('#appbody').html(result);
                    }
                })
            }
        </script>


        {% include ('default/footer.html.twig') %}
    {% endblock %}
{% endif %}
